body { 
  background: #315;
  margin: 0; 
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

#webText {
  background: #aaa;
  color: #000;
  border: 4px solid white;
  flex: 50%;
}

#webButtons {
  display: flex;
  flex-direction: row;
  flex: 30%;
  flex-wrap: wrap;
}

#webButtons button {
  flex: 10%;
  height: 4em;
  padding: 1em;
  background: blue;
  color: #ddd;
}

#webButtons .runnable {
  background: red;
  color: white;
}

#webOutput {
  border: 10px solid blue;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 800px;
}

.pout {
  border: 2px solid gold;
}
