body { 
  background: #000;
  background-image: url(https://v01dmage.github.io/MyndPalace/assets/Screenshot_20220701-173124.png);
  color: #afa;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

#webText {
  background: #aaa;
  color: #000;
  border: 4px solid white;
  flex: 50%;
}

#webButtons {
  display: flex;
  flex-direction: row;
  flex: 30%;
  flex-wrap: wrap;
}

#webButtons button {
  flex: 16%;
  height: 4em;
  padding: 1em;
  background: #00f;
  color: #fff;
}

#webButtons .runnable {
  background: green;
  color: white;
}

#webOutput {
  border: 10px solid blue;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80%;
  min-height: 600px;
  min-width: 400px;
  max-height: 75%;
}

.pout {
  border: 5px solid gold;
  margin: 2em;
  padding: 1em;
  border-radius: 5px;
}
