body { 
  margin: 0; 
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

div { 
  border: 1px dashed yellow; 
  flex: 45%;
}

#webText {
  background: #aaa;
  color: #000;
  border: 4px solid white;
  flex: 50%;
}

#webButtons {
  display: flex;
  flex-direction: row;
  flex: 30%;
  flex-wrap: wrap;
}

#webOutput {}
